<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "AppNueva/padre.html" %}

    {% load static %}

    {% block contenidoquecambia %}

        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('/static/appnueva/Imagenes/imagenmar.jpg')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static 'AppNueva/imagenes/IMG-20220624-WA0079.jpg' %}" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Alexis Stabile</h1>
                <p class="text-white mb-0"><strong>Hoy es {{ hoy }}</strong></p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>ACERCA DE MI:</h2>
                        <p class="lead"></p>
                        <p class="mb-0">Hola, Soy Alexis, tengo 36 años y me encuentro finalizando este curso de Python. Quizas te estes preguntando como llegue hasta aqui, asique aca va un pequeño resumen de mi camino:
                            En 2019, luego de trabajar casi 13 años en la misma empresa, decidi renunciar e ir a probar suerte en otro pais, me mude a Dinamarca donde vivi por un año, luego con pandemia de por medio me volvi a mudar, esta vez un pais mas parecido al nuestro, que fue ni mas ni menos que España, lugar donde resido al dia de hoy. Sin darme cuenta ya han pasado 3 años desde que me mude a España. Durante estos ultimos años, y consecuente a todos estos cambios, me empece a interesar por el mundo de la data, lo cual me llevo a hacer varios cursos, entre ellos este que estamos finalizando.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
</body>
</html>